[Desktop Entry]
Name=Tramp
Comment=Desktop music player
Exec=tramp %F
Icon=com.proximamagnifica.tramp
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
MimeType=audio/mpeg;audio/mp4;audio/aac;audio/flac;audio/wav;audio/ogg;audio/opus;audio/x-mpegurl;application/vnd.apple.mpegurl;
StartupNotify=true
StartupWMClass=com.proximamagnifica.tramp
